@model BioKudi.dto.StateDto

@{
    ViewData["Title"] = "Crear Estado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="/css/State/StateCreate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<div class="body">
    <h1>Crear Estado</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group input-container">
            <label class="control-label">Nombre</label>
            <input asp-for="NameState" required class="form-control" />
            <span asp-validation-for="NameState" class="text-danger"></span>
        </div>
        <div class="form-group input-container">
            <label class="control-label">Tabla</label>
            <input asp-for="Table" class="form-control" />
            <span asp-validation-for="Table" class="text-danger"></span>
        </div>
        <div class="form-group submit">
            <input type="submit" value="Crear" id="createButton" class="btn btn-primary" />
        </div>
        <div class="backk">
            <a asp-action="Index" class="back">Volver a lista</a>
        </div>
    </form>
</div>
<script>
    $('#createButton').click(function (e) {
        e.preventDefault();
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¿Estás seguro de que deseas crear este estado?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, crear estado',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $('form').submit();
            }
        });
    });
</script>