@model BioKudi.dto.PictureDto

@{
    ViewData["Title"] = "Subir Imagen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Subir imagen</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePicture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label"></label>
                <select asp-for="PlaceId" class="form-control">
                    <option value="">Selecciona un lugar</option>
                    @foreach (var place in ViewBag.Places)
                    {
                        <option value="@place.PlaceId">@place.Name (@place.PlaceId)</option>
                    }
                </select>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

