@model List<BioKudi.dto.UserDto>
@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/css/listusers.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>

</head>
<body>
    <p class="title">Lista de Tickets</p>
</body>