@model List<BioKudi.dto.ActivityDto>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/css/listusers.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>

</head>
<body>
    <p class="title">List of Activities</p>
    <table>
        <thead>
            <tr>
                Id
            </tr>
            <tr>
                Type
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>
                        @activity.IdActivity
                    </td>
                    <td>
                        @activity.Type
					</td>
                </tr>
            }
        </tbody>
</body>