@model BioKudi.dto.PictureDto

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    }
    ViewData["Title"] = "Editar Imagen";
}
<head>
    <link href="/css/Picture/PictureEdit.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<div class="body">


    <h1>Editar imagen</h1>
    <form asp-action="Edit">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdPicture" />
        <div class="form-group input-container">
            <label class="control-label">Nombre</label>
            <input asp-for="Name" class="form-control" maxlength="128" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group input-container">
            <label class="control-label">Link</label>
            <input asp-for="Link" class="form-control" maxlength="255" />
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>
        <div class="form-group input-container">
            <label "PlaceId" class="control-label">Lugar Relacionado</label>
            <select asp-for="PlaceId" class="form-control">
                <option value="">Seleccione un lugar</option>
                @foreach (var place in ViewBag.BagPlaces)
                {
                    if (Model.PlaceId == place.IdPlace)
                    {
                        <option value="@place.IdPlace" selected>
                            @($"{place.NamePlace} ({place.IdPlace})")
                        </option>
                    }
                    else
                    {
                        <option value="@place.IdPlace">
                            @($"{place.NamePlace} ({place.IdPlace})")
                        </option>
                    }
                }
            </select>
            <span asp-validation-for="PlaceId" class="text-danger"></span>
        </div>
        <div class="form-group submit">
            <input type="submit" value="Guardar" asp-action="Edit" id="saveButton" class="btn btn-primary" />
        </div>
        <div class="backk">
            <a asp-action="Index" class="back">Volver a lista</a>
        </div>
    </form>
</div>
<script>
    $('#saveButton').click(function (e) {
        e.preventDefault();

        // Get field values
        var name = $('#Name').val();
        var link = $('#Link').val();

        // Check if the required fields are completed
        if (name.trim() === '' || link.trim() === '') {
            // Show an error message if any required field is empty
            Swal.fire({
                title: 'Error',
                text: 'Por favor, completa todos los campos.',
                icon: 'error'
            });
        } else {
            // If all required fields are completed, show confirmation
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Deseas editar esta imagen?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, editar imagen',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Submit the form if the action is confirmed
                    $('form').submit();
                }
            });
        }
    });
</script>