body {
    background-color: #FEECD6;
}

img {
    min-width: 100%;
    height: auto;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #476930;
    margin-bottom: 2%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
}

.titulo {
    margin-bottom: 1%;
}

.icon {
    min-width: 10px;
    vertical-align: middle;
    color: #476930;
}

.iconn {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    text-align: left;
    color: #476930;
    margin-bottom: 2%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
}

.activity {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    text-align: left;
    color: #476930;
    margin-bottom: 2%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
}

.description {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    text-align: left;
    color: #476930;
    margin-bottom: 2%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
}

.rating {
    display: flex;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
    font-size: 28px;
    text-align: left;
    color: #476930;
    margin-bottom: 2%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    justify-content: space-between;
}

.review {
    text-align: right;
}

.iconWeb {
    color: #F67924;
}

.end {
    display: flex;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
    font-size: 28px;
    text-align: left;
    color: #476930;
    margin-bottom: 2%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    justify-content: space-between;
}

.pagina {
    color: #F67924;
}

.volver {
    color: #F67924;
}

.linkre {
    color: #F67924;
}
