@model BioKudi.dto.ActivityDto

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
	<link href="/css/Activity/ActivityCreate.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<div class="body">
	<h1>Create</h1>
	<form asp-action="Create">



			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group input-container">
				<label class="control-label">Tipo</label>
				<input asp-for="Type" class="form-control" />
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			<div class="form-group input-container">
				<label class="control-label">Lugar</label>
				<p>Puede seleccionar varios lugares</p>
				<select asp-for="Places" class="form-control lugares" size="10">
					@foreach (var place in ViewBag.BagPlaces)
					{
						<option value="@place.IdPlace">@($"{place.NamePlace} ({place.IdPlace})")</option>
					}
				</select>
				<span asp-validation-for="Places" class="text-danger"></span>
			</div>
			<div class="form-group submit">
				<input type="submit" value="Create" asp-action="Create" class="btn btn-primary" />
			</div>
			<div class="backk">
			<a asp-action="Index" class="back">Back to List</a>
			</div>
			
	</form>
</div>
