@model BioKudi.dto.ActivityDto

@{
    ViewData["Title"] = "Crear Actividad";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="/css/Activity/ActivityCreate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<div class="body">
    <h1>Crear Actividad</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group input-container">
            <label class="control-label">Tipo</label>
            <input asp-for="Type" required class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group input-container">
            <label class="control-label">Lugares Relacionados</label>
            <p>Puede seleccionar varios lugares</p>
            <select asp-for="Places" required class="form-control lugares" size="10">
                @foreach (var place in ViewBag.BagPlaces)
                {
                    <option value="@place.IdPlace">@($"{place.NamePlace} ({place.IdPlace})")</option>
                }
            </select>
            <span asp-validation-for="Places" class="text-danger"></span>
        </div>
        <div class="form-group submit">
            <input type="submit" value="Crear" asp-action="Create" id="createButton" class="btn" />
        </div>
        <div class="backk">
            <a asp-action="Index" class="back">Volver a lista</a>
        </div>

    </form>
</div>

<script>
    $('#createButton').click(function (e) {
        e.preventDefault();

        // Verificar manualmente si los campos cumplen con los requisitos
        var type = $('#Type').val();
        var places = $('#Places').val();

        if (type.trim() === '' || places == null || places.length === 0) {
            // Mostrar un mensaje de error si algún campo está vacío
            Swal.fire({
                title: 'Error',
                text: 'Por favor, completa todos los campos obligatorios.',
                icon: 'error'
            });
        } else {
            // Si todos los campos están completos, mostrar la confirmación
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Estás seguro de que deseas crear esta actividad?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, crear actividad',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('form').submit();
                }
            });
        }
    });

</script>
