@model BioKudi.dto.ActivityDto

@{
    ViewData["Title"] = "Editar Actividad";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="/css/Activity/ActivityEdit.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<div class="body">
    <h1>Editar actividad</h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdActivity" />
        <div class="form-group input-container">
            <label class="control-label">Tipo</label>
            <input asp-for="Type" class="form-control" name="Type"/>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group input-container">
            <label class="control-label">Lugares Relacionados</label>
            <p>Puede seleccionar varios lugares</p>
            <select asp-for="Places" class="form-control" name="Places" size="10">
                @foreach (var place in ViewBag.BagPlaces)
                {
                    if (Model.PlacesData.Any(p => p.IdPlace == place.IdPlace))
                    {
                        <option value="@place.IdPlace" selected>
                            @($"{place.NamePlace} ({place.IdPlace})")
                        </option>
                    }
                    else
                    {
                        <option value="@place.IdPlace">
                            @($"{place.NamePlace} ({place.IdPlace})")
                        </option>
                    }
                }
            </select>
            <span asp-validation-for="Places" class="text-danger"></span>
        </div>
        <div class="form-group submit">
            <input type="submit" value="Guardar" asp-action="Edit" id="saveButton" class="btn" />
        </div>
        <div class="backk">
            <a asp-action="Index" class="back">Volver a lista</a>
        </div>
    </form>
</div>
<script>
    $('#saveButton').click(function (e) {
        e.preventDefault();

        // Manually check if fields meet requirements
        var type = $('#Type').val();

        if (type.trim() === '') {
            // Show an error message if any field is empty
            Swal.fire({
                title: 'Error',
                text: 'Por favor, completa todos los campos obligatorios.',
                icon: 'error'
            });
        } else {
            // If all fields are complete, show confirmation
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Deseas editar esta actividad?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, editar actividad',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('form').submit();
                }
            });
        }
    });

</script>
