@model IEnumerable<BioKudi.dto.ActivityDto>

@{
    ViewData["Title"] = "Actividades";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="/css/Activity/Activity.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<div class="body">
    <h1>Actividades</h1>
    <p>
        <a asp-action="Create">Crear Actividad</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Tipo
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="2" class="Error">No hay datos para mostrar</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)

                        </td>
                        <td class="acciones">
                            <a asp-action="Edit" asp-route-id="@item.IdActivity"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Details" asp-route-id="@item.IdActivity"><i class="fa-regular fa-file-lines"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.IdActivity"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
