@{
	ViewData["Title"] = "Inicio";
}
<head>
	<link href="~/css/Index.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script src="~/js/index.js"></script>
</head>
<body>
	</br>
	<div class="BioKudiWelcome">
		<table>
			<tr>
				<td><h1>Biokudi</h1></td>
			</tr>
			<tr>
				<td><h2>Conectando a Cundinamarca con las personas</h2></td>
			</tr>
		</table>
	</div>
</body>