@{
    ViewData["Title"] = "Home Page";
}
<head>
	<link href="~/css/Index.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script src="~/js/index.js"></script>
</head>
<body>
	<div class="BioKudiWelcome">
		<h1 class="text-center">BioKudi</h1>
		<h2 class="text-center">Conectando a Cundinamarca con las personas</h2>
	</div>
</body>