body {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #D8EECE;
}

.body {
    margin-top: 2%;
    margin-bottom: 16%;
}

h1 {
    color: #476930;
    font-weight: bold;
    margin-bottom: 2%;
}

p {
}

table {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td.link {
    max-width: 200px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

table thead tr {
    background-color: #4CAF50;
    color: white;
}

table tbody tr {
    background-color: #C8E6C9;
}

table td, th {
    padding: 10px;
    text-align: center;
    border: none;
}


.acciones {
    width: 200px;
}

    .acciones i {
        color: #476930;
        margin: 0 5%;
    }

p a {
    color: white;
    background-color: #F67924;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.2s;
}

    p a:hover {
        background-color: #476930;
        color: white;
        padding: 10px 12px;
    }
